* {

    background-color: #d69c75;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    color: #f0e0ce;
    background: none;
    font-size: 23px; 

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header h1 a {
    text-decoration: none;
    font-size: 40px;

}

header nav ul {
    display: inline-flex;
    list-style: none;
}

header nav ul li {
    margin: 10px;
    padding: 10px 30px;
    font-weight: 650;
}

header nav ul li:hover {
    background-color: #F0B64F;
}