.tituh1 {
    text-align: center;
    font-size: 280%;

}

#cabeceraN {
    background-image: url(../Imagenes/Nintendo/Incio.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#contCabeN {
    backdrop-filter: blur(10px);

    overflow: hidden;

}

#articuloN {
    margin: 0% 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border-radius: 10px;
}

#imginicio {
    max-width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: colum;


}

.parrafos {
    text-align: justify;
    max-width: 80%;
    margin: auto;
    font-size: 20px;
}

.subth2 {
    font-size: 210%;
    text-align: center;
    color: #D1D5DB;

}

.botonesC {
    background: none;
    border: none;

}

.botonesC img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;

}

.botonesC img:hover {
    transform: scale(1.09);
}

.imgcarrusel {
    width: 22%;
    height: 150px;
    object-fit: scale-down;

}




#carruselOLED,
#carruselLite {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}