* {
  text-align: justify;

}
#cabeceraps{
    background-image: url(../Imagenes/PS5/Inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
    overflow: hidden;


}
#contencabeceraps{
    backdrop-filter: blur(10px);
    overflow: hidden;


}
#cuerpops {
    margin: 0% 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgs {
    max-width: 60%;
    height: auto;
    margin: auto;
    display: flex;
}

#im1,
#im2,
#im3 {
    width: 25%;
    height: 30%;
    padding: 1%;
}

#carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 3% 0;
    border-radius: 20px;
    background-color: #303238da;
}

p {
    padding: 0% 10%;
    font-size: 110%;
}

h2 {
    font-size: 190%;
    padding: 0 10%;
    text-align: left;
}

#titulo-ps5 {
    font-size: 210%;
    text-align: center;
    color: #D1D5DB;
}

h3 {
    font-size: 160%;
    padding: 0 10%;
}

ul {
    padding-left: 15%;
    padding-right: 10%;
    list-style-type: square;
}

h4 {
    padding: 0 15%;
    font-size: 115%;

}

dl {
    padding: 0 10%;
}

#ps5 {
    max-width: 80%;
    height:auto;
    margin: auto;
    display: flex;
    flex-direction: colum;
}
.botonesC{
    background: none;
    border: none;
}
.botonesC img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;

}
.botonesC img:hover {
    transform: scale(1.09);
}
.footer_title{
    padding: 0;
}