/*articulo 1*/
.gtaV-article-introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-image: url("../Imagenes/GTA5/Fondo-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.gtaV-div-container-introduccion {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gtaV-h1-title-principal {
    text-align: center;
    font-size: 300%;
    color: #030202;
    margin: 0;
    padding: 20px 0;
}

.gtaV-img-principal {
    height: 30%;
    width: 80%;
}

/*articulo 2*/
.gtaV-article-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: rgba(10, 9, 9, 0.301);
    width: 80%;

}

.gtaV-h2-title-introduccion {
    color: #FFFFFF;
    font-size: 200%;

    margin: 0;
    padding: 5% 10%;
}

.gtaV-p-introduccion-principal {
    color: #FFFFFF;
    margin: 0;
    padding: 0 10% 5% 10%;
    font-size: 110%;
}

.gtaV-p-introduccion {
    color: #FFFFFF;
    margin: 0;
    padding: 0 10% 5% 10%;
    font-size: 110%;
    text-align: justify;
    white-space: pre-line;
}

.gtaV-img-intruduccion {
    height: auto;
    width: 80%;
}

.gtaV-img-presentacion {
    height: auto;
    width: 70%;
}

.gtaV-carrusel {
    height: 50%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3% 0;
    border-radius: 20px;
    background-color: #303238da;
}

.gtaV-button-izquierdo,
.gtaV-button-derecho {
    background-color: transparent;
    border: none;
    width: 10%;
    height: auto;
    object-fit: scale-down;
}

.gtaV-button-imagen {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}

.gtaV-button-izquierdo:hover {
    transform: scale(1.88);

}

.gtaV-button-derecho:hover {
    transform: scale(1.88);

}

.gtaV-cont-img-carrusel {
    display: flex;
    justify-content: space-evenly;
    width: 90%;

}

.gtaV-img-carrusel {
    width: 32%;
    height: auto;
    object-fit: scale-down;
}

/*--------------------------------------------------------*/
.gtaV-enlaces-extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(187, 178, 178, 0.692);
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.gtaV-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #FFFFFF;

    border-radius: 20px;
    border: solid 1px black;

    width: 85%;
    margin: 1%;
}

.gtaV-conteiner-extra {
    width: 70%;
}

.gtaV-h3-extra {
    height: auto;
    width: 80%;
    font-size: 20px;
    color: black;
    padding: 5%;
    margin: 0;
}

.gtaV-parrafo-extra {
    font-size: 100%;
    text-align: center;

    background-color: rgb(255, 217, 0);
    color: black;

    border-radius: 5px;
    border: solid 1px black;

    padding: 1%;
    width: 8%;
    margin-left: 75%;
}

.gtaV-img-extra {
    height: auto;
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    margin: 0;
}