* {
    cursor: url(../Cursor/puntero.png) 0 0, auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    /* background-image: url(../Fondos/alex-pronin-8.jpg); */
        background-image: url(../Fondos/degradado.jpg);
    /* background-attachment: fixed; */
    /*Fijar la imagen*/
    background-size: cover;
    /*Escala la imagen al mayor tamaño posible sin estirarla*/
    /* background-position: center; */
    /*Posisiciona la imagen en el centro*/
}

a {
    cursor: url(../Cursor/punteroSelc.png), auto;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: center;
    /*Centra todos los elementos que contenga*/
    background-color: rgba(5, 5, 5, 0.514);
    /*Color del contorno del header*/
    top: 0;
    width: 100%;
}

header nav div h1 {
    display: flex;
    justify-content: center;
    /*Posiciona el <a> en el centro del h1*/
}

header nav div h1 a {
    font-size: 60px;
    text-shadow: 0 0 10px rgba(40, 208, 250, 0.774);
    color: #fff;
}

header nav div ul {
    display: flex;
    list-style-type: none;
    /*Elimina los puntos al comienzo de la lista*/
    margin: 0;
    padding: 0;
    /*Elimina el padign que quedaba al inicio del los li (el pequeño cuadro)*/
}

header nav div ul li {
    text-shadow: 0 0 10px rgba(40, 208, 250, 0.637);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    /*Permite que los li se posiciones uno al lado del otro manteniendo una distancia similar*/
}

header nav div ul li {
    margin-left: 30px;
    margin-right: 30px;
}

header nav div ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}


img {
    height: 50px;
    width: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*Centra todos los elementos que contenga*/
    background-color: rgba(5, 5, 5, 0.514);
    /*Color del contorno del header*/
    top: 0;
    width: 100%;

}

footer div {
    display: flex;
    justify-content: center;
    /*Centra todos los elementos que contenga*/
    padding: 3% 5% 0 5%;
}

footer div div {
    display: flex;

    justify-content: center;
    /*Centra todos los elementos que contenga*/

}

footer div div ul {
    list-style-type: none;
    /*Elimina los puntos al comienzo de la lista*/
    margin: 0;
    padding: 0;
    /*Elimina el padign que quedaba al inicio del los li (el pequeño cuadro)*/
}

#formContacto {
    display: flex;
    flex-direction: column;
    padding: 0% 20% 0% 20%;
    margin: auto;
}

form input,
textarea {
    background: blu;
    border: none;
    border-radius: 3%;
    height:25px;
color: black;
font-size: medium;
}

form input,
textarea:focus {
    outline: none;
}


form input[type="submit"] {
    font-size: 115%;
    background-color: green;
    border: none;
    border-radius: 10%;
    width: 15%;
    display: block;
    margin: auto;
}
form input[type="submit"]:hover{
    background-color: blue;
}
textarea{
    height: 7em;
}