
/*articulo 1*/
.gta-sa-article-introduccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-image: url("../Imagenes/GTASA/Fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.gta-sa-div-container-introduccion{
    width: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gta-sa-h1-title-principal{
    text-align: center;
    font-size: 300%;
    color: #020202;
    margin: 0;
    padding: 20px 0;
}
.gta-sa-img-principal{
    height: 600px;
}

/*articulo 2*/
.gta-sa-article-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: rgba(10, 9, 9, 0.301);
    width: 80%;

}
.gta-sa-h2-title-principal{
    color: #FFFFFF;
    font-size: 200%;
}
.gta-sa-h2-title-introduccion{
    color: #FFFFFF;
    font-size: 200%;

    margin: 0;
    padding: 5% 10%;
}
.gta-sa-p-introduccion{
    color: #FFFFFF;
    margin: 0;
    padding: 0 10% 5% 10%;
    font-size: 110%;
    text-align: justify;
    white-space: pre-line;
}
#gta-sa-p-introduccion{
    padding: 0 10% 5% 10%;
}
.gta-sa-img-intruduccion{
    height: auto;
    width: 80%;
}
.gta-sa-img-historia{
    height: 400px;
    width: 70%;
}
.gta-sa-carrusel{
    height: 50%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3% 0;
    border-radius: 20px;
    background-color: rgba(128, 121, 121, 0.527);
}
.gta-sa-button-izquierdo, .gta-sa-button-derecho{
    background-color: transparent;
    border: none;
    width: 10%;
    height: auto;
    object-fit: scale-down;
}
.gta-sa-button-imagen{
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}

.gta-sa-button-izquierdo:hover{
    transform: scale(1.88);
}
.gta-sa-button-derecho:hover{
    transform: scale(1.88);
}
.gta-sa-cont-img-carrusel{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    object-fit: scale-down;
}
.gta-sa-img-carrusel{
    width: 32%;
    height: auto;
    object-fit: scale-down;
}

/*----------------------------------------------*/
.gta-sa-mods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    margin: 0;
}
.gta-sa-container-mods{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1% 10%;
    padding: 3% 0;
    width: 80%;

    border-radius: 20px;
    background-color: rgba(187, 178, 178, 0.315);
}
.gta-sa-enlace-mods{
    font-size: 25px;    
    font-weight: bold;
    color: #FFFFFF;
    text-align: start;
    width: 80%;
}
.gta-sa-enlace-mods:hover{
    color: #1abc9c;
}
.gta-sa-p-mods{
    color: #FFFFFF;
    margin: 0;
    padding: 0 10% 5% 10%;
    font-size: 110%;
    white-space: pre-line;
}
.gta-sa-carrusel-mod{
    height: 50%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3% 0;
    border-radius: 20px;
    background-color: rgba(128, 121, 121, 0.527);
}
#gta-sa-container-mod-ultimo{
    margin-bottom: 5%;
}