.titulox {
    font-size: 3.75rem;
    text-align: center;
}

.subtitulos {
    padding: 0 10%;
    font-size: 2.375rem;
    color: #D1D5DB;
}

.parrafoX {
    font-size: 1.875rem;
    padding: 0 10%;
    text-align: justify;
}

#imagen-inicioX {
    max-width: 80%;
    height:auto;
    margin: auto;
    display: flex;
    flex-direction: colum;
    
}

.listaX {
    font-size: 1.875rem;
    padding-left: 10%;
    padding-right: 10%;
}

.dtX {
    font-size: 1.9rem;
}

.ddX {
    margin: 3% 0;
    padding: 0;
}
#primerArtX{
    background-image: url(../Imagenes/Xbox/inicio2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    overflow: hidden;
}
#contenX{
    backdrop-filter: blur(10px);
    overflow: hidden;

}

#sectionX {
    margin: 0% 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablasX {
    text-align: left;
    margin: auto;
    padding: 0 10%;
    font-size: 1.3rem;
}

.imgcarrusel {
    max-width: 25%;
    height: auto;
    display: unset;
}

#carruselx,
#carrusels {

    max-width: 90%;
    display: flex;
    flex-direction: row;
    padding: 3% 0;
    border-radius: 20px;
    background-color: #303238da;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.columnas {
    max-width: 48%;
    height: auto;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.columnas dd {
    padding: 4% 0;
}

.imgColum {

    max-width: 100%;
    height: auto;
    align-self: center;
    margin-bottom: 20px;
}

.parrfo-columnaXbox {
    font-size: 1.5625rem;
    text-align: justify;
}



.b-xbox-et {
    font-size: 110%;
    padding-top: 1.1rem;
}

#titulo-columnas-xbox {
    font-size: 500%;
    text-align: center;
}

.botonesC {
    background: none;
    border: none;
    padding: 0;
}

.botonesC img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;

}
.botonesC img:hover {
    transform: scale(1.09);
}